/* Normalize */
@import url(../vendor/normalize.css);

/* Fonts */
@import url(../vendor/fonts/fonts.css);

/* || RESET */
*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

input,
button,
textarea {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* FONTS */
  --ff-inter-ss: 'Inter', sans-serif;
  --ff-poppins-ss: 'Poppins', sans-serif;
  --ff-opensans-ss: 'OpenSans', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* COLORS */
  --background-purple-clr: #1B004E;
  --background-white-clr: #FFF6FB;
  --background-linear-purple-clr: linear-gradient(227deg, #4E0062 0.43%, #220076 99.56%);
  --background-btn-clr: #EB5757;
  --text-white-clr: #FFF;
  --text-light-gray-clr: #828282;
  --text-semilight-gray-clr: #616161;
  --text-medium-gray-clr: #4F4F4F;
  --text-dark-gray-clr: #171717;
  --text-black-clr: #000;
  --text-bull-green: #1AFF7C;
  --text-bear-red: #FF1A1A;
  --footer-links-clr: #E6E6E6;
  --copyright-clr: #BCBCBC;

  /* OPACITY */
  --hover-opacity: .5;
  --active-opacity: 1;
  --footer-links-opacity: .8;

  /* BORDERS */
  --btn-border-orange: 2px solid #EB5757;
  --form-border-white: 2px solid #FFF;
  --tb-border-gray: .6px solid #BDBDBD;
  --footer-border-bottom: 1px solid #BCBCBC;

  /* MAX-WIDTH */
  --max-width: 1440px;
}

/* || UTILITY CLASSES */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.center-element {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.border-top {
  border-top: var(--tb-border-gray);
}

.border-bottom {
  border-bottom: var(--tb-border-gray);
}

/* Maket-for-figma */
.maketforfigma {
  flex: 0 0 auto;
  background: #313a46;
  font-weight: bold;
  display: flex;
}

.maketforfigma img {
  border-radius: 10px;
  margin: 4px 0 0 4px;
}

.maketforfigma p {
  color: #98a6ad;
  text-decoration: none;
  letter-spacing: .01875rem;
  font-size: .775rem;
  padding: 0 10px;
  line-height: 0.70rem;
}

.maketforfigma p>a {
  color: #bbe4f0;
  font-weight: bold;
}

.maketforfigma p>a:hover {
  color: #ffffff
}

/* || GENERAL STYLES */
.main {
  flex: 1 0 auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* || HEADER */
.header {
  color: var(--text-white-clr);
  background: var(--background-purple-clr);
  padding: 42px 16px 0;
  position: relative;
}

.logo {
  max-width: 123px;
  height: 30px;
  transition: transform .3s ease-in-out;
  -webkit-transition: transform .3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 47px;
}

.nav__list,
.nav__btn {
  display: none;
}

.nav__menu {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.nav__menu:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.nav__menu-line {
  width: 25px;
  height: 1px;
  background: var(--text-white-clr);
  margin-bottom: 6px;
  border-radius: 10px;
  cursor: pointer;
}

.nav__menu-line:last-of-type {
  margin-bottom: 0;
}

.header__h1 {
  font-family: var(--ff-poppins-ss);
  font-weight: var(--fw-bold);
  font-size: 24px;
  line-height: 1.3;
  max-width: 450px;
}

.header__p {
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-regular);
  font-size: 16px;
  line-height: 1.5;
  margin: 13px auto 20px;
  max-width: 400px;
}

.header__btn {
  background: var(--background-btn-clr);
  color: var(--text-white-clr);
  font-family: var(--ff-poppins-ss);
  font-weight: var(--fw-medium);
  font-size: 14px;
  line-height: 1.2;
  padding: 7px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  white-space: nowrap;
  max-width: 136px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.header__btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}


.header__img,
.header__background-img,
.scroll-downs,
.header__brake {
  display: none;
}

/* || MAIN */
.main {
  background: var(--background-purple-clr);
}

/* PRICES */
.prices {
  padding: 50px 16px 40px;
}

.prices__h2 {
  font-weight: var(--fw-bold);
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 22px;
  font-family: var(--ff-poppins-ss);
  color: var(--text-white-clr)
}

.table {
  border-collapse: collapse;
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-medium);
  color: var(--text-white-clr);
  font-size: 14px;
  line-height: 1;
  width: 100%;
  max-width: max(343px, 80%);
  white-space: nowrap;
}

.table__th-sort,
.table__th-price,
.table__th-percent-per-hour,
.table__th-percent-per-day,
.table__th-market-cap,
.table__th-last-week,
.table__td-number,
.table__td-price,
.table__td-bull,
.table__td-bear,
.table__td-market-cap,
.table__td-uptrend,
.table__td-downtrend {
  display: none;
}

.table__th {
  padding: 8px 20px 20px 0;
}

.table__th-name,
.table__td-name {
  text-align: left;
}

.table__th-volume {
  text-align: right;
}

.table__td {
  padding: 15px 0 14px;
}

.table__thead-tr {
  border-top: 0;
}

.table__td-logo {
  display: inline-block;
  margin-right: 9px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
}

.table__td-full-name {
  font-family: var(--ff-opensans-ss);
  font-weight: var(--fw-regular);
  font-size: 13px;
  line-height: 1.2;
}

.table__td-abbr {
  margin-left: 5px;
  font-size: 11px;
  font-family: var(--ff-opensans-ss);
  font-weight: var(--fw-regular);
  color: var(--text-light-gray-clr);
}

.table__td-volume {
  transform: translateY(6%);
  -webkit-transform: translateY(6%);
  text-align: right;
}

.table__td-volume-in-btc {
  display: block;
  margin-top: 10px;
  font-weight: var(--fw-semibold);
  font-size: 11px;
  color: var(--text-light-gray-clr);
}

/* PERKS */
.perks {
  background: var(--background-white-clr);
  padding: 52px 16px;
}

.perks__h2 {
  font-family: var(--ff-poppins-ss);
  font-weight: var(--fw-bold);
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-dark-gray-clr);
}

.perks__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  padding: 0;
}

.perks__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.perks__h3 {
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-semibold);
  font-size: 18px;
  line-height: .7;
  color: var(--text-black-clr);
  margin: 30px 0 20px;
}

.perks__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.perks__item {
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 1;
  color: var(--text-black-clr);
  white-space: nowrap;
  margin-bottom: 15px;
}

.perks__item:last-of-type {
  margin-bottom: 0;
}

/* DOWNLOAD */
.download {
  background: var(--background-purple-clr);
  padding: 50px 16px;
}

.download__h2 {
  font-family: var(--ff-poppins-ss);
  font-weight: var(--fw-bold);
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-white-clr);
}

.download__p {
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-white-clr);
  margin: 10px auto 30px;
  max-width: 400px;
}

.download__img {
  max-width: max(202px, 50%);
}

.download__background-img {
  display: none;
}

.download__stores {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.download__store {
  max-width: 100px;
  aspect-ratio: 29 / 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.download__store:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}


/* NEWS */
.news {
  padding: 35px 16px 35px;
  background: var(--background-white-clr);
}

.news__h2 {
  font-family: var(--ff-poppins-ss);
  font-weight: var(--fw-semibold);
  font-size: 32px;
  line-height: 1;
  color: var(--text-black-clr);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  margin-top: 50px;
  gap: 34px;
}

.card {
  background: var(--text-white-clr);
  border-radius: 10px;
  max-width: 343px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.cards__link {
  text-decoration: none;
}

.card__image {
  aspect-ratio: 16.5 / 10;
}

.card__container {
  padding: 23px 6.5px 25px;
}

.card__h3 {
  font-family: var(--ff-poppins-ss);
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-black-clr);
}

.card__p {
  font-family: var(--ff-opensans-ss);
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--text-medium-gray-clr);
  margin: 15px 0 27px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card__footer {
  font-family: var(--ff-opensans-ss);
  font-weight: var(--fw-regular);
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--text-semilight-gray-clr);
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.card__author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.card__author::before {
  content: 'By: ';
}

.card__date::before {
  content: url(../img/icons/calendar.svg);
  margin-right: 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
}

.card__read-time::before {
  content: url(../img/icons/clock.svg);
  margin-right: 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
}

.card__read-time::after {
  content: 'Min to read';
  margin-left: 4px;
}

/* SUBSCRIBE */
.subscribe {
  background: var(--background-purple-clr);
  padding: 48px 16px 55px;
}

.subscribe__h2 {
  font-family: var(--ff-poppins-ss);
  font-weight: var(--fw-semibold);
  font-size: 24px;
  line-height: 1;
  color: var(--text-white-clr);
}

.subscribe__p {
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 1.7;
  margin: 10px 0 30px;
  color: var(--text-white-clr);
}

.form {
  padding: 2px;
  border-radius: 37px;
  overflow: hidden;
  border: var(--form-border-white);
  max-width: 578px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__input {
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-regular);
  color: var(--text-white-clr);
  font-size: 12px;
  line-height: 1.25;
  padding: 14.5px 15px;
  background: transparent;
  border: 0;
  outline: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: max(500px, 100%);
}

.form__input::placeholder {
  color: var(--text-white-clr);
}

.form__subscribe-btn {
  background: var(--background-btn-clr);
  font-family: var(--ff-poppins-ss);
  font-weight: var(--fw-medium);
  font-size: 14px;
  line-height: 1;
  color: var(--text-white-clr);
  border: 0;
  text-align: center;
  cursor: pointer;
  width: 139px;
  border-radius: 37px;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.form__subscribe-btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/* || FOOTER */
.footer {
  background: var(--background-linear-purple-clr);
  padding: 29px 16px 35px;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 23px 46px;
  padding-bottom: 51px;
}

.horizontal-line {
  border-bottom: var(--footer-border-bottom);
  width: 100vw;
  margin: 0 calc(-50vw + 50%);
  overflow-x: hidden;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 18px;
  margin: 18px 0 0;
}

.footer__h3 {
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-semibold);
  font-size: 18px;
  line-height: 1.2;
  color: var(--text-white-clr);
}

.footer__link {
  text-decoration: none;
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: .7;
  color: var(--footer-links-clr);
  opacity: var(--footer-links-opacity);
  white-space: nowrap;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.footer__link:hover {
  opacity: var(--hover-opacity);
  padding-left: 6px;
}

.footer__col:nth-child(4) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.footer__col:nth-child(5) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.social-media {
  margin: 26px 0;
}

.social-media__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 17.5px;
  justify-content: center;
}

.social-media__icon {
  width: 31px;
  height: 32px;
  transition: transform .3s ease-in-out;
  -webkit-transition: transform .3s ease-in-out;
}

.social-media__icon:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer__icon {
  width: 31px;
  height: 32px;
}

.copyright {
  font-family: var(--ff-inter-ss);
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: 1.2;
  color: var(--copyright-clr);
  margin: 0;
}

.copyright__link {
  text-decoration: none;
  color: var(--copyright-clr);
  transition: opacity .4s linear;
  -webkit-transition: opacity .4s linear;
  cursor: pointer;
}

.copyright__link:hover {
  opacity: var(--hover-opacity);
}


/* || LARGE MOBILE >= 425px */
@media only screen and (min-width: 425px) {

  /* || HEADER */
  .header {
    background: var(--background-linear-purple-clr);
    padding-bottom: 22px;
  }

  .header__img {
    display: block;
    position: relative;
    max-width: 150px;
    height: auto;
  }

  /* || MAIN */
  /* PRICES */
  .table__th-sort,
  .table__td-number {
    display: table-cell;
  }

  .table__th-sort {
    text-align: right;
  }

  .table__sort-button {
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    width: 5px;
    height: 4px;
    margin-left: 3px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    cursor: pointer;
  }

  .table__td-number {
    font-weight: var(--fw-regular);
    font-size: 12px;
    color: var(--text-light-gray-clr);
  }

  .table__like-button {
    background-image: url(../img/icons/star.svg);
    background-color: transparent;
    border: 0;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
    cursor: pointer;
  }

  .table__like-button:hover {
    opacity: var(--hover-opacity);
  }

  .table__like-button:active {
    opacity: var(--active-opacity);
  }

  /* DOWNLOAD */
  .download__img {
    max-width: max(202px, 35%);
  }

  /* || FOOTER */
  .footer__col:nth-child(5) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}


/* || TABLET >= 768px */
@media only screen and (min-width: 768px) {

  /* || HEADER */
  .header {
    padding: 42px 24px 22px;
  }

  .header__p {
    font-size: 17px;
    line-height: 1.6;
    max-width: fit-content;
    margin: 11px auto 32px;
  }

  .header__h1 {
    font-family: var(--ff-poppins-ss);
    font-weight: var(--fw-bold);
    font-size: 60px;
    line-height: 1.5;
    max-width: fit-content;
  }

  .header__brake {
    display: inline-block;
  }

  .header__btn {
    margin: 0 auto 40px;
    font-size: 17px;
    line-height: 1;
    max-width: 191px;
    padding: 15px 30px;
  }

  .header__img {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    max-width: 271px;
    width: 70%;
  }

  .scroll-downs {
    display: block;
    width: 20px;
    height: 50px;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    margin-top: 20px;
    cursor: pointer;
  }

  .scroll-downs__mouse {
    width: 3px;
    padding: 5.5px 6.5px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    box-sizing: content-box;
  }

  .scroll-downs__scroller {
    width: 3px;
    height: 10px;
    border-radius: 50px;
    background: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% {
      opacity: 0;
    }

    10% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      opacity: var(--active-opacity);
    }

    100% {
      transform: translateY(15px);
      -webkit-transform: translateY(15px);
      opacity: 0;
    }
  }


  /* || MAIN */
  /* PRICES */
  .prices__h2 {
    margin: 0 0 60px;
  }

  .table__th-price,
  .table__th-percent-per-hour,
  .table__th-percent-per-day,
  .table__td-bull,
  .table__td-bear,
  .table__td-price {
    display: table-cell;
  }

  .table__th {
    padding: 7px 22px 20px 0;
    border-top: var(--tb-border-gray);
  }

  .table__td {
    padding: 18px 0 31px;
  }

  .table__td-bull {
    font-weight: var(--fw-regular);
    font-size: 13px;
    line-height: 1.2;
    color: var(--text-bull-green);
  }

  .table__td-bull::before {
    content: url(../img/icons/bull.svg);
    width: 6.4px;
    height: 6px;
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }

  .table__td-bear {
    font-weight: var(--fw-regular);
    font-size: 13px;
    line-height: 1.2;
    color: var(--text-bear-red);
  }

  .table__td-bear::before {
    content: url(../img/icons/bear.svg);
    width: 6.4px;
    height: 6px;
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }

  /* DOWNLOAD */
  .download {
    padding: 50px 135px;
  }

  .download__img {
    max-width: max(202px, 50%);
  }

  .download__store {
    max-width: 169px;
    aspect-ratio: 30 / 10;
  }

  /* NEWS */
  .news {
    padding: 36px 24px 25px;
  }

  /* SUBSCRIBE */
  .subscribe {
    padding: 50px 24px 55px;
  }

  /* || FOOTER */
  .footer {
    padding: 29px 24px 20px;
  }

  .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .copyright {
    order: -1;
  }
}


/* || DESKTOP >= 1170px */
@media only screen and (min-width: 1170px) {

  /* || HEADER */
  .header {
    padding: 25px 135px 48px;
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-position: top;
  }

  .nav {
    padding-bottom: 109px;
  }

  .nav__list {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav__item {
    font-family: var(--ff-poppins-ss);
    font-weight: var(--fw-regular);
    font-size: 17px;
    line-height: 1.4;
    transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
  }

  .nav__item:hover {
    opacity: var(--hover-opacity);
  }

  .nav__link {
    text-decoration: none;
    color: var(--text-white-clr);
  }

  .nav__menu {
    display: none;
  }

  .nav__btn {
    text-decoration: none;
    font-family: var(--ff-poppins-ss);
    font-weight: var(--fw-medium);
    color: var(--text-white-clr);
    font-size: 17px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 13px 28px;
    border: var(--btn-border-orange);
    border-radius: 50px;
    white-space: nowrap;
    max-width: 152px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }

  .nav__btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }

  .logo {
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    max-width: 154px;
    height: 40px;
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .header__cta {
    max-width: 665px;
    text-align: left;
  }

  .header__p {
    margin: 11px 0 32px;
  }

  .header__btn {
    margin: 0;
  }

  .header__img {
    margin-right: 80px;
  }

  .header__img::before {
    content: url(../img/header-shape.svg);
    width: 512px;
    height: 277px;
    position: absolute;
    right: -120px;
    bottom: -36px;
    z-index: -1;
  }

  .header .container::before {
    content: url(../img/cube-small.svg);
    width: 150px;
    position: absolute;
    top: -60px;
    left: -135px;
    z-index: -1;
  }

  .scroll-downs {
    margin-top: 80px;
  }


  /* || MAIN */
  /* PRICES */
  .prices {
    padding: 34px 135px 111px;
  }

  .prices__h2 {
    font-size: 32px;
    line-height: 1.5;
    margin: 0 0 60px;
  }

  .table {
    max-width: 1171px;
  }

  .table__th-last-week,
  .table__th-market-cap,
  .table__td-market-cap,
  .table__td-uptrend,
  .table__td-downtrend {
    display: table-cell;
  }

  .table__tbody-tr:last-of-type {
    border-bottom: var(--tb-border-gray);
  }

  .table__info-button {
    background-image: url(../img/icons/info.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    cursor: pointer;
    transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
  }

  .table__info-button:hover {
    opacity: var(--hover-opacity);
  }

  .table__td-uptrend::before {
    content: url(../img/charts/up-trend.svg);
    width: 123px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
  }

  .table__settings-button {
    background-image: url(../img/icons/three-dots.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    width: 3px;
    height: 13px;
    margin-left: 10px;
    vertical-align: bottom;
    cursor: pointer;
    transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
  }

  .table__settings-button:hover {
    opacity: var(--hover-opacity);
  }

  .table__td-downtrend::before {
    content: url(../img/charts/down-trend.svg);
    width: 123px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
  }

  /* PERKS */
  .perks {
    padding: 92px 135px 108px;
  }

  .perks__content {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    gap: 10px;
  }

  .perks__container {
    align-items: flex-start;
  }

  .perks__h2 {
    font-size: 32px;
  }

  .perks__h3 {
    font-size: 24px;
    line-height: .5;
    margin: 45px 0 29px;
  }

  .perks__list {
    align-items: flex-start;
  }

  .perks__item {
    font-size: 17px;
    margin-bottom: 29px;
  }

  /* DOWNLOAD */
  .download {
    padding: 106px 135px 182px;
  }

  .download .container::before {
    content: url(../img/circle-shape.svg);
    width: 127px;
    height: 127px;
    position: absolute;
    top: 12px;
    right: -10px;
    z-index: -1;
  }

  .download__text {
    text-align: left;
  }

  .download__h2 {
    font-size: 32px;
  }

  .download__p {
    font-size: 17px;
    margin: 14px 0 0;
    max-width: 500px;
  }

  .download__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .download__text {
    margin-top: -98px;
  }

  .download__img {
    max-width: 456px;
    margin: 0;
    z-index: 1;
  }

  .download__background-img {
    display: block;
    position: absolute;
    top: 12px;
    right: -12px;
  }

  .download__stores {
    margin: 0;
    justify-content: flex-start;
    margin-top: -133px;
  }

  /* NEWS */
  .news {
    padding: 100px 135px 108px;
  }

  .cards {
    margin-top: 47px;
    gap: 30px;
  }

  .card {
    max-width: 368px;
  }

  .card__image {
    aspect-ratio: 17.75 / 10;
  }

  .card__container {
    padding: 24px 19px 25px;
  }

  /* SUBSCRIBE */
  .subscribe {
    background: var(--background-purple-clr);
    padding: 92px 0 110px;
  }

  .subscribe .container::before {
    content: url(../img/polygon.svg);
    width: 344px;
    height: 333px;
    position: absolute;
    top: -50px;
    left: 45px;
    z-index: -1;
  }

  .subscribe .container::after {
    content: url(../img/cube-big.svg);
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .subscribe__h2 {
    font-weight: var(--fw-bold);
    font-size: 50px;
  }

  .subscribe__p {
    font-family: var(--ff-inter-ss);
    font-weight: var(--fw-regular);
    font-size: 24px;
    line-height: 1.1;
    margin: 14px 0 50px;
  }

  .form {
    padding: 4px;
  }

  .form__input {
    font-size: 15px;
    line-height: 1.2;
    padding: 22px 17px;
  }

  .form__subscribe-btn {
    font-size: 17px;
    line-height: 1.4;
    border-radius: 31px;
  }

  /* || FOOTER */
  .footer {
    padding: 82px 135px 20px;
  }

  .footer__nav {
    column-gap: 100px;
    padding-bottom: 59px;
    border-bottom: var(--footer-border-bottom);
  }

  .horizontal-line {
    display: none;
  }

  .footer__list {
    margin: 34px 0 0;
    gap: 26px;
  }

  .footer__link {
    font-size: 17px;
    line-height: 1.4;
  }

  .footer__col:nth-child(4) {
    grid-row: auto;
    grid-column: auto;
  }

  .footer__col:nth-child(5) {
    grid-row: auto;
    grid-column: auto;
  }

  .footer__col:nth-child(4) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .footer__col:nth-child(5) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}


/* || DESKTOP LARGE >= 1441px */
@media only screen and (min-width: 1441px) {

  /* || HEADER */
  .header {
    background: var(--background-linear-purple-clr);
  }
}
